<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/" class="border-shadow">
                <span class="text-gradient route-link"><i class="fas fa-angle-double-left"></i> All Users
                </span>
            </a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Edit User</h2>
            <span class="text-light">Use the below form to update details for this account</span>
        </div>

        <!-- form handling -->
        <form method="POST" id="update_student">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text">Name</label>
                    <input type="hidden" name="id" value="<%= student._id %>">
                    <input type="text" name="name" value="<%= student.name %>">
                </div>
                <div class="form-group">
                    <label for="Email" class="text">Email</label>
                    <input type="text" name="email" value="<%= student.email %>" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <label for="Batch" class="text">Batch</label>
                    <!-- <input type="text" name="batch" value="<%= student.batch %>" placeholder="2022"> -->

            <select id="batch">
                <option value="current"> <%= student.batch %></option>
                <option value="2018"> 2018</option>
                <option value="2019"> 2019</option>
                <option value="2020"> 2020</option>
                <option value="2021"> 2021</option>
                <option value="2022"> 2022</option>
                <option value="2023"> 2023</option>
                <option value="2024"> 2024</option>
                <option value="2025"> 2025</option>
                <option value="2026"> 2026</option>
            </select>
        </div>

                </div>
                <div class="program">
                    <label for="Program" class="text">Program</label>
                    <!-- <input type="text" name="program" value="<%= student.program %>" placeholder="BSCS"> -->
                    <div class = radio>                       
                        <input type="radio" id="bba" name = "status">
                        <label for = "bba" id="bba"> BBA</label>
                        <input type="radio" id="bscs" name = "status">
                        <label for = "bscs" id="bscs"> BSCS</label>
                        <input type="radio" id="bsss" name = "status">
                        <label for = "bsss" id="bsss"> bsss</label>
                        <input type="radio" id="bseco" name = "status">
                        <label for = "bseco" id="bseco"> bseco</label>
                        <input type="radio" id="bsem" name = "status">
                        <label for = "bsem" id="bsem" > bsem</label>
                        <input type="radio" id="bsacf" name = "status">
                        <label for = "bsacf" id="bsacf"> bsacf</label>
                    </div>
                </label>
                </div>
                

                <div class="save2">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>

            </div>
        </form>
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
