<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- include tab -->
<%- include('include/_tab') %> 
<!-- /include tab -->


  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/" class="border-shadow">
                <span class="text-gradient route-link"><i class="fas fa-angle-double-left"></i> All Students
                </span>
            </a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Edit Student</h2>
            <span class="text-light">Use the below form to update details for this student</span>
        </div>

        <!-- form handling -->
        <form method="POST" id="update_student">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="<%= student._id %>">
                    <input type="text" name="name" value="<%= student.name %>">
                </div>
                <div class="form-group">
                    <label for="Email" class="text-light">Email</label>
                    <input type="text" name="email" value="<%= student.email %>" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <label for="Batch" class="text-light">Batch</label>
                    <input type="text" name="batch" value="<%= student.batch %>" placeholder="2022">
                </div>
                <div class="form-group">
                    <label for="Program" class="text-light">Program</label>
                    <input type="text" name="program" value="<%= student.program %>" placeholder="BSCS">
                </div>
                

                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>

            </div>
        </form>
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

<script>
    var btn1 = document.getElementById('studentsBtn');
    var btn2 = document.getElementById('teachersBtn');
    var btn3 = document.getElementById('coursesBtn');

    btn1.style.color = "#06d6a0"
    btn2.style.color = "#2b2d42"
    btn3.style.color = "#2b2d42"
    btn1.style.borderBottomStyle = "solid"
    btn2.style.borderBottomStyle = "none"
    btn3.style.borderBottomStyle = "none"
    btn1.style.borderBottomWidth = "3px"

</script>